* {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: bolder;
}

.header {
    background-color: #0C70F2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 69px;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

li:last-child {
    margin-left: 45px;
}