* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F2F2F2;
}

h2 {
    font-weight: 800;
    margin: 20px 0;
    font-size: 50px;
}

h1 {
    font-weight: 800;
    font-size: 50px;
    color: #1F1F1F;
    width: 879px;
    margin-top: 124px;
}

.header {
    background-color: #0C70F2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 69px;
    align-items: center;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

li:last-child {
    margin-left: 45px;
}

.section--1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1134px; */
}

.section__image {
    width: 255px;
    height: 197px;
    margin-top: 75px;
}

.section--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: #fff;
    width: 859px;
}

.form__input {
    display: flex;
    flex-direction: column;
}