* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

h2 {
    font-weight: bolder;
    margin: 20px 0;
}

.header {
    background-color: #0C70F2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 56px;
    padding-right: 69px;
    align-items: center;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

li:last-child {
    margin-left: 45px;
}

.section--1 {
    display: flex;
}

.section__image {
    width: 255px;
    height: 197px;
}